{% extends 'admin/index.twig' %}
{% block content %}
<div class="row page-header-box">
    <div class="col-xs-10">
        <h3>{{ title }}</h3>
    </div>
    {% if permission is not null%}
    <div class="col-xs-2">
        <a href="#" id="btn-user-add" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Ajouter un utilisateur</a>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        {% if permission is not null %}
                        <th>#</th>
                        {% endif %}
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th style="width:15%" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="user-table">
                    {% for user in users %}
                    <tr id="user-row-{{ user.id }}">
                        {% if permission is not null %}
                        <td>{{ user.id }}</td>
                        {% endif %}
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td class="text-center">
                            <a data-id="{{ user.id }}" class="btn btn-xs btn-primary btn-user-edit" href="#"><i class="fa fa-edit fa-fw"></i>Editer</a>
                        {% if permission is not null %}
                            <a data-id="{{ user.id }}" class="btn btn-xs btn-danger btn-user-delete" href="#"><i class="fa fa-times fa-fw"></i>Supprimer</a>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="user-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-title">Formulaire utilisateur</h4>
            </div>
            <div class="modal-body">
                {% include '@usergroup/user/form.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success btn-sm" id="btn-user-save" data-method="">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}