<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="page-header">Météo du Jour</h3>

    </div>
</div>

<div class="row">
  {% for d in dataweather %}
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail">
      <img src="{{d.weather.iconUrl|replace({'%s': d.weather.icon })}}" alt="...">
      <div class="caption">
        <h3>{{d.city.name}}</h3>
        <p>{{d.temperature.now|replace({'&deg;C': '°C' })}} | {{d.weather.description}}</p>
        <p>Min : {{d.temperature.min|replace({'&deg;C': '°C' })}}
        Max : {{d.temperature.max|replace({'&deg;C': '°C' })}}</p>
        <p>Humidité : {{d.humidity}}</p>
        <p>Pression : {{d.pressure}}</p>
        <p>Vitesste du vent : {{d.wind.speed}} |Direction {{d.wind.direction}}</p>
      </div>
    </div>

  </div>
  {% endfor %}
</div>