{% extends 'master.twig' %}

{% block body %}
    <div id="wrapper">
        {{include('admin/topbar.twig')}}
        {{include('admin/sidebar.twig')}}
        <div id="page-wrapper">
            {% block content %}
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="page-header">manage</h3>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <form autocomplete="on">
                        <input type='textbox'  placeholder="Chercher une ville"id='cities' />
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>Remove</th>
                                    </tr>
                            </thead>
                            {% if usercity is not empty%}
                            <tbody>
                            {% for city in usercity %}
                                <tr class="btnDelete" data-id="{{ city.id }}">
                                    <td>{{ city.id_city }}</td>
                                    <td>{{ city.name_city }}</td>
                                    <td>{{ city.country }}</td>
                                    <td><button  data-toggle="modal" data-target="#myremoveModal" class="btnDelete btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                                 <!-- start: Delete Coupon Modal -->
                            <div class="modal fade" id="myremoveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                             <h3 class="modal-title" id="myModalLabel">Attention !</h3>
                                        </div>
                                        <div class="modal-body">
                                             <h4> Etes-vous sure de vouloir supprimer cette ville ?</h4>
                                        </div>
                                        <!--/modal-body-collapse -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnDelteYes" href="#">OUI</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">NON</button>
                                        </div>
                                        <!--/modal-footer-collapse -->
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                    </table>
                <div class="answer"></div>
            </div>
        </div>
{%else%}
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Bienvenue</strong> Ajoutez votre première ville :-) !
    </div>
{%endif%}

{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}