{% extends 'master.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="page-header">Welcome to Weather Dashboard</h3>
        </div>
        {% if template is defined %}
            {% include template %}
        {% else %}
        <div class="col-lg-6">
            <a href="{{ urlFor('formRegister') }}" class="btn btn-primary pull-right">Inscription</a>
        </div>
        <div class="col-lg-6">
            <a href="{{siteUrl('login')}}" class="btn btn-success">Connexion</a>
        </div>
        </div>
    {% endif %}
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}